<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            th:href="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            th:href="@{/webjars/popper/1.16.0/popper.min.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            th:href="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<title>Add User</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>New user:</h2>

            <form action="#" th:action="@{/admin/add-user}" th:object="${user}" method="post">
                <div class="form-group">
                    <label for="userName">Name</label>
                    <input type="email" class="form-control" id="userName" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="userLastName">Last name</label>
                    <input type="email" class="form-control" id="userLastName" placeholder="Enter last name">
                </div>
                <div class="form-group">
                    <label for="userEmail">Email address</label>
                    <input type="email" class="form-control" id="userEmail" placeholder="Enter email" th:field="*{email}">
                </div>
                <div class="form-group">
                    <label for="userPhone">Phone number</label>
                    <input type="text" class="form-control" id="userPhone" placeholder="Enter phone number" th:field="*{phoneNumber}">
                </div>
                <div class="form-group">

                    <div class="dropright">
                        <button type="button" id="userDepartment" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Department
                        </button>
                        <div class="dropdown-menu" aria-labelledby="userDepartment">
                            <a class="dropdown-item" href="#">Production</a>
                            <a class="dropdown-item" href="#">Logistics</a>
                            <a class="dropdown-item" href="#">Distribution</a>
                            <a class="dropdown-item" href="#">HR</a>
                            <a class="dropdown-item" href="#">Finance</a>
                            <a class="dropdown-item" href="#">IT</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="userSalary">Salary</label>
                    <input type="text" class="form-control" id="userSalary" placeholder="Enter salary" th:field="*{salary}">
                </div>
                <button type="submit" class="btn btn-primary">Add user</button>
                <!--<input type="reset" value="Reset">-->
            </form>
        </div>
    </div>
</div>
</body>
</html>