<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin's panel</title>
</head>
<body>
<ol layout:fragment="breadcrumbs" class="breadcrumb pl-5">
    <li class="breadcrumb-item active"><a href="#">Home</a></li>
</ol>
<section layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="content">
                    <div class="title m-b-md">
                        Admin Panel
                    </div>
                    <div class="links">
                        <a th:href="@{/users}">Search Users</a>
                        <a th:href="@{/finance}">Finance</a>
                        <a th:href="@{/production}">Production</a>
                        <a th:href="@{/logistics}">Logistics</a>
                        <a th:href="@{/hr}">HR</a>
                        <a th:href="@{/distribution}">Distribution</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>