<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Logistics panel</title>
</head>
<body>
<ol layout:fragment="breadcrumbs" class="breadcrumb pl-5">
    <li class="breadcrumb-item active"><a href="#">Home</a></li>
</ol>
<section layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="content">
                    <div class="title m-b-md">
                        Logistics Panel
                    </div>
                    <div class="links">
                        <a th:href="@{/logistics/stock}">View stocks</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>