<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>New Order</title>
</head>
<body>
<ol layout:fragment="breadcrumbs" class="breadcrumb pl-5">
    <li class="breadcrumb-item"><a href="/default">Home</a></li>
    <li class="breadcrumb-item active">New Order</li>
</ol>
<section layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2>New order:</h2>
                <form action="#" method="post" th:action="@{/logistics/new-order}" th:object="${order}">
                    <input type="hidden" th:name="request_id" th:value="${request_id}"/>
                    <div class="form-row" th:each="item, itemStat: *{orderItems}">
                        <div class="form-group col-md-5" th:with="productLabel=${itemStat.index + 1}">
                            <label for="productSelect" th:text="${'Product ' + productLabel}"></label>
                            <select id="productSelect" class="form-control selectpicker" editable="true"
                                    th:field="*{orderItems[__${itemStat.index}__].product.id}" >
                                <option th:each="product : ${products}" th:value="${product.id}"
                                        th:text="${product.name + ' ' + product.ingredientType?.name() }"></option>
                            </select>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('orderItems[__${itemStat.index}__].product.name')}"
                                 th:errors="*{orderItems[__${itemStat.index}__].product.name}"></div>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="quantityInput">Quantity</label>
                            <input id="quantityInput" class="form-control" type="number"
                                   th:field="*{orderItems[__${itemStat.index}__].quantity}" >
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('orderItems[__${itemStat.index}__].quantity')}"
                                 th:errors="*{orderItems[__${itemStat.index}__].quantity}"></div>
                        </div>
                        <div class="form-group col-md-2 text-center align-self-bottom">
                            <button id="removeBtn" class="btn btn-secondary btn-circle btn-sm text-center" type="submit"
                                    th:value="${itemStat.index}" name="removeRow"><h4>-</h4></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col align-self-center text-center">
                            <button class="btn btn-primary btn-circle btn-md text-center" type="submit" name="addRow"><h4>+</h4></button>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" name="submit">ADD ORDER</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>