<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Order</title>
</head>
<body>
<ol layout:fragment="breadcrumbs" class="breadcrumb pl-5">
    <li class="breadcrumb-item"><a href="/default">Home</a></li>
    <li class="breadcrumb-item active">Order</li>
</ol>
<section layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center" th:text="${'ORDER ' + orderView.id}"></h2>
                <div class="profile-user-info">
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Id </div>
                        <div class="profile-info-value">
                            <span th:text="${orderView.id}"></span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Contractor </div>
                        <div class="profile-info-value">
                            <span th:text="${orderView.contractor?.name}"></span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Status </div>
                        <div class="profile-info-value">
                            <span th:text="${orderView.orderStatus.displayName()}"></span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Placed </div>
                        <div class="profile-info-value">
                            <span th:text="${orderView.orderTime}"></span>
                        </div>
                    </div>
                </div>
                <div class="profile-user-info">
                    <div class="profile-info-row">
                        <div class="profile-info-name text-center"> Product </div>
                        <div class="profile-info-name text-center"> Quantity </div>
                    </div>
                    <div class="profile-info-row" th:each="item : ${orderView.orderItems}">
                        <div class="profile-info-value text-center">
                            <span th:text="${item.product.ingredientType != null} ?
                                        ${item.product.name + ' ' + item.product.ingredientType.name()} :
                                        ${item.product.name}"></span>
                        </div>
                        <div class="profile-info-value text-center">
                            <span th:text="${item.quantity}"></span>
                        </div>
                    </div>
                </div>
                <div class="profile-info-value" th:if="${orderView.orderStatus == 'PLACED'}" sec:authorize="hasRole('MANAGER')">
                    <a class="btn btn-success" th:href="@{/logistics/order/{id}/approve(id=${orderView.id})}" role="button">Approve</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>