<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Production stats</title>
    <link href="/static/css/stats.css" rel="stylesheet">
</head>
<body>
<ol layout:fragment="breadcrumbs" class="breadcrumb pl-5">
    <li class="breadcrumb-item"><a href="/default">Home</a></li>
    <li class="breadcrumb-item active">Stats</li>
</ol>
<section layout:fragment="content">
    <div class="container-fluid">
        <div class="row">

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Production during current month</h1>
                </div>
                <!--                <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->

                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Day of the month</th>
                        <th>Amount of produced beer in liters</th>
                    </tr>
                    </thead>
                    <tbody th:each="amount : ${day_to_beer_amount}">
                    <tr>
                        <td th:text="${amount.getKey()}"></td>
                        <td th:text="${amount.getValue()}"></td>
                    </tr>
                    </tbody>
                </table>

            </main>
        </div>
    </div>
</section>




</body>
</html>