<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Logistics panel</title>
</head>
<body>
<ol layout:fragment="breadcrumbs" class="breadcrumb pl-5">
    <li class="breadcrumb-item"><a href="/default">Home</a></li>
    <li class="breadcrumb-item"><a href="/users">Users</a></li>
    <li class="breadcrumb-item active">Change password</li>
</ol>
<section layout:fragment="content" th:if="${#authentication.name == user.email}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div th:if="${param.unauthorized}">
                    <div class="alert alert-danger">
                        Enter current password correctly!
                    </div>
                </div>
                <div th:if="${param.failure}">
                    <div class="alert alert-danger">
                        Passwords don't match!
                    </div>
                </div>
                <h2>Change password:</h2>

                <form action="#" th:action="@{/user/{id}/change-password(id=${user.id})}" method="post">
                    <div class="form-group">
                        <label for="currPasswd">Enter current password</label>
                        <input type="password" class="form-control" id="currPasswd" placeholder="Enter current password" th:name="old_password" >
                    </div>
                    <div class="form-group">
                        <label for="newPasswd">Enter password</label>
                        <input type="password" class="form-control" id="newPasswd" placeholder="Enter password" th:name="password" >
                    </div>
                    <div class="form-group">
                        <label for="confirmPasswd">Confirm password</label>
                        <input type="password" class="form-control" id="confirmPasswd" placeholder="Confirm password" th:name="confirmed">
                    </div>
                    <button type="submit" class="btn btn-primary">Change password</button>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>