<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Add user</title>
</head>
<body>
<ol layout:fragment="breadcrumbs" class="breadcrumb pl-5">
    <li class="breadcrumb-item"><a href="/default">Home</a></li>
    <li class="breadcrumb-item"><a href="/admin/add-user">Add user</a></li>
    <li class="breadcrumb-item active">New user</li>
</ol>
<section layout:fragment="content">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="profile-user-info">
                <div class="profile-info-row">
                    <div class="profile-info-name"> Name </div>
                    <div class="profile-info-value">
                        <span th:text="${user.name}"></span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> Last name </div>
                    <div class="profile-info-value">
                        <span th:text="${user.surname}"></span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> E-mail </div>
                    <div class="profile-info-value">
                        <span th:text="${user.email}"></span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> Phone number </div>
                    <div class="profile-info-value">
                        <span th:text="${user.phoneNumber}"></span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> Department </div>
                    <div class="profile-info-value">
                        <span th:text="${user.department}"></span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> Salary </div>
                    <div class="profile-info-value">
                        <span th:text="${user.salary}"></span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-value" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')
                     || #authentication.name == user.email}">
                        <a class="btn btn-primary" th:href="@{/user/{id}/edit(id=${user.id})}" role="button">Edit</a>
                    </div>
                    <div class="profile-info-value" sec:authorize="hasAuthority('ADMIN')">
                        <a class="btn btn-secondary" th:href="@{/user/{id}/delete(id=${user.id})}" role="button">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>