<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Users</title>
</head>
<body>
<ol layout:fragment="breadcrumbs" class="breadcrumb pl-5">
    <li class="breadcrumb-item"><a href="/default">Home</a></li>
    <li class="breadcrumb-item active">Users</li>
</ol>
<section layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form th:action="@{/users}" method="post">
                <div class="input-group">
                    <input class="form-control" type="text" th:name="name" th:value="${name}" placeholder="User" aria-label="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                </div>
                </form>
                <div class="profile-user-info">
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Name </div>
                        <div class="profile-info-name"> Last Name </div>
                        <div class="profile-info-name"> Department </div>
                        <div class="profile-info-name"> Phone </div>
                        <div class="profile-info-name"> E-mail </div>
                    </div>
                    <div class="profile-info-row" th:each="user : ${users}">
                        <div class="profile-info-value">
                            <a th:text="${user.name}" th:href="@{/user/{id}(id=${user.id})}"></a>
                        </div>
                        <div class="profile-info-value">
                            <a th:text="${user.surname}" th:href="@{/user/{id}(id=${user.id})}"></a>
                        </div>
                        <div class="profile-info-value">
                            <span th:text="${user.department}"></span>
                        </div>
                        <div class="profile-info-value">
                            <span th:text="${user.phoneNumber}"></span>
                        </div>
                        <div class="profile-info-value">
                            <span th:text="${user.email}"></span>
                        </div>
                        <div class="profile-info-value"
                             th:if="${#authorization.expression('hasAnyAuthority(''ROLE_ADMIN'', ''ROLE_HR'')')
                             || #authentication.name == user.email}">
                           <a class="btn btn-primary btn-sm" th:href="@{/user/{id}/edit(id=${user.id})}" role="button">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>