<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Users</title>
</head>
<body>
<!--<ol layout:fragment="breadcrumbs" class="breadcrumb pl-5">-->
<!--</ol>-->
<section layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1>An error occurred!</h1>
                <p>
                    We're sorry, but a server error occurred. Try again later!
                    Go back to <a href="/default">home page</a>.
                </p>
            </div>
        </div>
    </div>
</section>
</body>
</html>