<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Assign vat</title>
</head>
<body>
<section layout:fragment="content" th:remove="tag">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center" th:text="${'Assign VAT #' + vat.id}"></h2>
                <form action="#" method="post" th:action="@{/production/vat/{id}/assign(id=${vat.id})}">
                    <div class="form-row">
                        <label for="userSelect">Assignee</label>
                        <select id="userSelect" class="form-control selectpicker" th:name="assignee">
                            <option th:each="user : ${users}" th:text="${user.name + ' ' + user.surname}"></option>
                        </select>
                    </div>
                    <br>
                    <div class="form-row">
                        <label for="beerSelect" th:text="'Choose beer that will be produced in this vat. Amount: ' + ${vat.capacity}"></label>
                        <select id="beerSelect" class="form-control selectpicker" th:name="producedBeer">
                            <option th:each="beer : ${beers}" th:text="${beer.name}"></option>
                        </select>
                    </div>
                    <br>
                    <div class="form-row">
                        <button class="btn btn-primary" type="submit" name="submit">Assign vat</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>