<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
          type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<body>


<!--
<section id="cover" class="min-vh-100 fadeInDown">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4"> -->
<div class="wrapper fadeInDown">
    <div id="formContent">
                    <div class="fadeIn first">
                    <h2>varBro</h2>
                    </div>
                        <form th:action="@{/login}" method="post">
                            <div th:if="${param.error}">
                                <div class="alert alert-danger">
                                    Invalid username or password.
                                </div>
                            </div>
                            <div th:if="${param.failure}">
                                <div class="alert alert-danger">
                                    Too many failed login attempts. Account has been locked, please contact administrator.
                                </div>
                            </div>
                            <div th:if="${param.logout}">
                                <div class="alert alert-info">
                                    You have been logged out.
                                </div>
                            </div>

                                <input type="text" class="fadeIn second" id="email" name="email" autofocus="autofocus" placeholder="user@example.com">

                                <input type="password" class="fadeIn third" id="password" name="password"  placeholder="password">
                            <input type="submit" name="login-submit" id="login-submit" class="fadeIn fourth" value="Log in">
                        </form>
                        <div id="formFooter">
                            <a class="underlineHover" href="#">Forgot Password?</a>
                        </div>
                    </div>
    </div>
</div>

</body>
</html>