<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add contractorFinance</title>
</head>
<body>
<ol layout:fragment="breadcrumbs" class="breadcrumb pl-5">
    <li class="breadcrumb-item"><a href="/default">Home</a></li>
    <li class="breadcrumb-item"><a href="/finance">Finance</a></li>
    <li class="breadcrumb-item"><a href="/finance/invoice">Invoice</a></li>
    <li class="breadcrumb-item"><a href="/finance/invoice/add">Add</a></li>
    <li class="breadcrumb-item active">Product</li>
</ol>
<section layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2>New product:</h2>


                <form action="#" th:action="@{/finance/invoice/add/product}" th:object="${product}" method="post">
                    <div class="form-group">
                        <label for="productName">Name</label>
                        <input type="text" class="form-control" id="productName" placeholder="Enter productFinance name" th:field="*{name}">
                    </div>

                    <div class="form-group">
                        <label for="productPrice">Price</label>
                        &#8383;<input type="text" class="form-control" id="productPrice" placeholder="Enter productFinance price" th:field="*{price}">
                    </div>

                    <button type="submit" class="btn btn-primary">Add productFinance</button>
                </form>

            </div>
        </div>
    </div>
</section>
</body>
</html>