<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add invoice</title>
</head>
<body>
<ol layout:fragment="breadcrumbs" class="breadcrumb pl-5">
    <li class="breadcrumb-item"><a href="/default">Home</a></li>
    <li class="breadcrumb-item"><a href="/finance">Finance</a></li>
    <li class="breadcrumb-item"><a href="/finance/invoice">Invoice</a></li>
    <li class="breadcrumb-item active">Add</li>
</ol>
<section layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2>New invoice:</h2>
                <form action="#" th:action="@{/finance/invoice/add}" th:object="${invoice}" method="post">
                    <div>
                        <label for="invoiceDate">Date time:</label>
                        <input class="form-control" id="invoiceDate" type="datetime-local" th:field="*{date}" placeholder="date" />
                    </div>
                    <div class="form-group">
                        <label for="invoiceContractor">Contractor:</label>
                        <select class="form-control selectpicker" th:field="*{contractor}" id="invoiceContractor">
                            <option value="">Nothing selected</option>
                            <option th:each="contractor : ${contractors}"
                                    th:value="${contractor.getId()}"
                                    th:text="${contractor.getName()}">
                            </option>
                        </select>
                        <a th:href="@{/finance/invoice/add/contractor}">Add new contractorFinance</a>
                    </div>
                    <div class="form-group">
                        <label for="invoiceContractor">Products:</label>
                        <div class="form-row" th:each="productFinance, productStats: *{products}">
                            <div class="form-group col-md-4" th:with="productLabel=${productStats.index + 1}">
                                <label for="productSelect" th:text="${'Product ' + productLabel}"></label>
                                <select id="productSelect" class="form-control selectpicker" editable="true"
                                        th:field="*{products[__${productStats.index}__].productFinance.id}" >
                                    <option th:each="productFinance : ${products}" th:value="${productFinance.id}" th:text="${productFinance.name + ' &#8383;' + productFinance.price}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-4" th:with="productLabel=${productStats.index + 1}">
                                <label for="amountInput">Amount:</label>
                                <input id="amountInput" class="form-control" type="number" th:field="*{products[__${productStats.index}__].amount}" />
                            </div>
                            <div class="form-group col-md-2" th:with="productLabel=${productStats.index + 1}">
                                <label for="priceOutput">Price:</label>
                                <!-- TOkurczeDO -->
                                <div id="priceOutput" th:text="${'&#8383;' + invoice.products[__${productStats.index}__].getPrice()}"></div> <
                            </div>
                        </div>
                        <div class="row">
                            <div class="col align-self-center text-center">
                                <button type="submit" name="addProduct" class="btn btn-primary">Add productFinance</button>
                            </div>
                        </div>
                        <a th:href="@{/finance/invoice/add/product}">Add new productFinance</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Add invoice</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>