<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show invoice</title>
</head>
<body>
<ol layout:fragment="breadcrumbs" class="breadcrumb pl-5">
    <li class="breadcrumb-item"><a href="/default">Home</a></li>
    <li class="breadcrumb-item"><a href="/finance">Finance</a></li>
    <li class="breadcrumb-item"><a href="/finance/invoice">Invoice</a></li>
    <li class="breadcrumb-item active">Show</li>
</ol>
<section layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2>Invoice:</h2>
                <label for="date">Date:</label>
                <div id="date" th:text="${invoice.date}"></div>
                <label for="contractor"><h3>Contractor:</h3></label>
                <div id="contractor" class="form-row">
                    <label for="contractorName">Name:</label>
                    <div id="contractorName" class="form-group col-md-3" th:text="${invoice.contractor.name}"></div>
                    <label for="contractorAddress">Adress:</label>
                    <div id="contractorAddress" class="form-group col-md-4" th:text="${invoice.contractor.address}"></div>
                    <label for="contractorIdNumber">ID's Number:</label>
                    <div id="contractorIdNumber" class="form-group col-md-3" th:text="${invoice.contractor.identificationNumber}"></div>
                </div>
                <label for="products"><h3>Products:</h3></label>
                <div id="products" class="form-row" th:each="product, productStats: ${invoice.products}">
                    <label for="productName">Name:</label>
                    <div id="productName" class="form-group col-md-2" th:text="${product.productFinance.name}"></div>
                    <label for="productAmount">Amount:</label>
                    <div id="productAmount" class="form-group col-md-2" th:text="${product.amount}"></div>
                    <label for="productPrice">Price for one:</label>
                    <div id="productPrice" class="form-group col-md-2" th:text="${'&#8383;' + product.productFinance.price}"></div>
                    <label for="productTotal">Product Sum:</label>
                    <div id="productTotal" class="form-group col-md-2" th:text="${'&#8383;' + product.getPrice()}"></div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6"></div>
                    <label for="total">Total:</label>
                    <div id="total" class="form-group col-md-2" th:text="${'&#8383;' + invoice.getTotalCost()}"></div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>